#board {
    width: 200px;
    height: 240px;
    margin: auto;
    display: grid;
    grid: auto-flow / repeat(5, auto);
    margin-bottom: 3em;
}

#keyboard {
    width: 400px;
    height: 120px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.grid-item {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;

    /* The following will align the letters to the center of each square */
    /* See this useful guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item:hover {
    background-color: beige;
}

.CLCL { /* Correct Letter, Correct Location */
    background-color: lightgreen;
}

.CLIL { /* Correct Letter, Incorrect Location */
    background-color: yellow;
}

.ILIL { /* Incorrect Letter, Incorrect Location */
    background-color: gray;
}

#controls {
    text-align: center;
}